.about {
    width: 100%;
    background: #f9f8f8;
    margin: 0 0 176px;

    &__wrapper {
        max-width: 1432px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__context {
        width: 745px;
    }

    &__description__food,
    &__description__delivery {
        display: flex;
        gap: 19px;
    }

    &__description__foodBody,
    &__description__deliveryBody {
        h3 {
            font-weight: 800;
            font-size: 25px;
            color: $bg-py;
            margin: 0 0 7px 0;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 138%;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 36px;
        color: $bg-sy;
        margin-top: 43px;
    }

    h2 {
        font-weight: 800;
        font-size: 50px;
        color: $bg-py;
        margin: 8px 0 14px;
    }

    &__desc {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #525c60;
        margin: 0 0 46px;
    }

    &__description__foodImg {
        background: #fff;
        border-radius: 20px;
        padding: 20px;

        img {
            max-width: 100%;
            display: block;
        }
    }

    &__description__deliveryImg {
        background: #fff;
        border-radius: 20px;
        padding: 20px;

        img {
            max-width: 100%;
            display: block;
        }
    }

    &__description__contentBody {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__description__btn {
        width: 220px;
        height: 78px;
        border-radius: 16px;
        padding: 28px 39px 28px 39px;
        font-weight: 700;
        font-size: 20px;
        background: $bg-py;
        cursor: pointer;
        margin-top: 46px;
    }
}

@media (max-width: 1200px) {
    .about {
        &__wrapper {
            flex-direction: column;
        }
    }
}

@media (max-width: 800px) {
    .about {
        &__context {
            width: 90%;
        }

        &__title {
            font-size: 30px;
        }

        h2 {
            font-size: 30px;
        }

        &__desc {
            font-size: 14px;
        }

        &__description__foodBody,
        &__description__deliveryBody {
            max-width: 90%;
            word-break: break-word;
        }
    }
}

@media (max-width: 600px) {
    .about {

        &__description__foodImg,
        &__description__deliveryImg {
            padding: 10px;
        }
    }
}

@media (max-width: 400px) {
    .about {

        &__description__foodImg,
        &__description__deliveryImg {
            padding: 5px;
        }
    }
}